@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }
  
  html {
    font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  
  body {
    box-sizing: border-box;
  padding: 3rem; }
  
  
  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #777;
    padding: 3rem; }
    @media (max-width: 56.25em) {
    body {
      padding: 0; } }
    .row {
        max-width: 114rem;
        margin: 0 auto; }
        .row:not(:last-child) {
          margin-bottom: 8rem; }
          @media (max-width: 56.25em) {
            .row:not(:last-child) {
              margin-bottom: 6rem; } }
              @media (max-width: 56.25em) {
                .row {
                  max-width: 70rem;
                  padding: 0 3rem; } }
        .row::after {
          content: "";
          display: table;
          clear: both; }
        .row [class^="col-"] {
          float: left; }
          .row [class^="col-"]:not(:last-child) {
            margin-right: 6rem; }
            @media (max-width: 56.25em) {
              .row [class^="col-"]:not(:last-child) {
                margin-right: 0;
                margin-bottom: 6rem; } }
                @media (max-width: 56.25em) {
                  .row [class^="col-"] {
                    width: 100% !important; } }
        .row .col-1-of-2 {
          width: calc((100% - 6rem) / 2); }
        .row .col-1-of-3 {
          width: calc((100% - 2 * 6rem) / 3); }
        .row .col-2-of-3 {
          width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
        .row .col-1-of-4 {
          width: calc((100% - 3 * 6rem) / 4); }
        .row .col-2-of-4 {
          width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
        .row .col-3-of-4 {
          width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

          .margin-left {
            margin-left: 20rem;
          }

    .header {
        height: 95vh;
        background-image: linear-gradient(to right bottom, rgba(111, 117, 213, 0.6), 
        rgba(1, 21, 20, 0.8)), 
        url(../img/224706.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
         }
         .heading-primary {
            color: #fff;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: 2rem;
         }
         @media (max-width: 56.25em) {
          .heading-primary {
            margin-left: 0;} }

         .heading-primary--main {
            display: block;
            font-size: 4rem;
            font-weight: 400;
            letter-spacing: 1.5rem;
            font-weight: bold;
            animation-name: moveInLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;
         } 
         
         @media (max-width: 37.5em) {
          .heading-primary--main {
            letter-spacing: 1rem;
             } }
         .heading-primary--alfa {
            display: block;
            font-size: 2rem;
            font-family: 'Ubuntu';
            
            font-weight: 400;
            letter-spacing: .35rem;
            animation: moveInRight 1s ease-out;
         }
        
         
         .heading-primary--sub {
            display: block;
            font-size: 4rem;
            font-family: 'Ubuntu';
            font-weight: 700;
            letter-spacing: .45rem;
            animation: moveInRight 1s ease-out;
         }
         @media (max-width: 37.5em) {
          .heading-primary--sub {
            letter-spacing: .5rem; } }
        .header__location-box {
         
         max-height: 7rem;
        }
        .top-loc {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #f4f5fc;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 2rem;
        }
        @media (max-width: 56.25em) {
              .top-loc {
                flex-direction: column;
              align-items: center;} }  
        @media (max-width: 37.5em) {
          .top-loc {
            flex-direction: row;
      } }
              
        .top-loc--adr {
        display: block;
        font-family: 'Ubuntu'; 
        margin-left: 1rem;
        font-size: 3.4rem;
        font-weight: 400;
        margin-top: 1.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        }
        @media (max-width: 56.25em) {
          .top-loc--adr {
           font-size: 3rem;
           margin-left: 3rem;} } 
        @media (max-width: 37.5em) {
          .top-loc--adr {
            font-size: 2.5rem;} }
        .top-loc--adr i {
            margin-right: 2rem;
        }
        .top-loc--phone {
        display: block;
        font-family: 'Ubuntu'; 
        font-size: 3.4rem;
        font-weight: 400;
        margin-top: 1.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        }
        @media (max-width: 37.5em) {
          .top-loc--phone {
            font-size: 2.5rem;} }
        .top-loc--phone i {
            margin-right: 2rem;
        }

        .header__text-box {
            position: absolute;
            width: 80%;
            display: flex;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }

            @media (max-width: 56.25em) {
              .header__text-box {
               flex-direction: column;} } 

        .u-center-text {
            text-align: center !important;
        }
        .u-margin-bottom-big {
            margin-bottom: 8rem !important;
        }
        @media (max-width: 56.25em) {
          .u-margin-bottom-big {
            margin-bottom: 5rem !important; } }
            .u-margin-bottom-medium {
              margin-bottom: 4rem !important; }
              @media (max-width: 56.25em) {
                .u-margin-bottom-medium {
                  margin-bottom: 3rem !important; } }
        .u-margin-bottom-small {
            margin-bottom: 1.5rem !important;
        }
        .section-about {
            background-color: #f7f7f7;
            padding: 14rem 0 10rem;
            margin-top: 0;
        }
        @media (max-width: 56.25em) {
          .section-about {
            padding: 9rem 0 33rem 3rem;} }
        .heading-secondary {
            font-size: 3.5rem;
            font-family: 'Ubuntu', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            background-image: linear-gradient(to right, #11022C, #301256);
            -webkit-background-clip: text;
            color: transparent;
            letter-spacing: .1rem;
            transition: all .2s;
        }

        @media (max-width: 56.25em) {
          .heading-secondary {
            font-size: 3rem; } }
        @media (max-width: 37.5em) {
          .heading-secondary {
            font-size: 2.5rem; } }
        .icon-box {
            display: block;
            color: #301256;
            font-size: 10rem;
            text-align: center;
        }
        .heading-teriary {
            font-size: 2.6rem;
            color: #080808;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            color: #11022C;
        }
        h3 {
          font-size: 2.9rem;
          color: #11022C;
          text-transform: uppercase;
        }
        @media (max-width: 56.25em) {
          h3 {
            font-size: 2.3rem; } }

        .paragraph:not(:last-child) {
            margin-bottom: 3rem;
        }
        .paragraph {
            font-size: 2.2rem;
            color: #11022C;
        }
        .composition {
          position: relative; }
          .composition__photo {
            width: 55%;
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            transition: all .2s;
            outline-offset: 2rem; }
            .composition__photo--p1 {
              left: 0;
              top: -2rem; }
            .composition__photo--p2 {
              right: 0;
              top: 2rem; }
            .composition__photo--p3 {
              left: 20%;
              top: 10rem; }
            .composition__photo:hover {
              outline: 0.7rem solid #8052C4;
              transform: scale(1.05) translateY(-0.5rem);
              box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
              z-index: 20; }
          .composition:hover .composition__photo:not(:hover) {
            transform: scale(0.95); }

            .section-tours {
              background-color: #f7f7f7;
              padding: 5rem 0 15rem 0;
              }
              @media (max-width: 56.25em) {
                .section-tours {
                  padding: 20rem 0 10rem 0; } }
              .card {
                perspective: 150rem;
                -moz-perspective: 150rem;
                position: relative;
                height: 52rem; }

                .card__side {
                  height: 52rem;
                  transition: all .8s ease;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  backface-visibility: hidden;
                  border-radius: 3px;
                  overflow: hidden;
                  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
                  .card__side--front {
                    background-color: #fff; }
                  .card__side--back {
                    transform: rotateY(180deg); }
                    .card__side--back-1 {
                      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
                    .card__side--back-2 {
                      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
                    .card__side--back-3 {
                      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
                .card:hover .card__side--front {
                  transform: rotateY(-180deg); }
                .card:hover .card__side--back {
                  transform: rotateY(0); }
                .card__picture {
                  background-size: cover;
                  height: 23rem;
                  background-blend-mode: screen;
                  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                  border-top-left-radius: 3px;
                  border-top-right-radius: 3px; }
                  .card__picture--1 {
                    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/FOTO0054.jpg); }
                  .card__picture--2 {
                    background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/doctor-563429_1920.jpg); }
                  .card__picture--3 {
                    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/dentist-428650_1920.jpg); }
                .card__heading {
                  font-size: 2.8rem;
                  font-weight: 300;
                  text-transform: uppercase;
                  text-align: right;
                  color: #fff;
                  position: absolute;
                  top: 12rem;
                  right: 2rem;
                  width: 75%; }
                .card__heading-span {
                  padding: 1rem 1.5rem;
                  -webkit-box-decoration-break: clone;
                  box-decoration-break: clone; }
                  .card__heading-span--1 {
                    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
                  .card__heading-span--2 {
                    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
                  .card__heading-span--3 {
                    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
                .card__details {
                  padding: 3rem; }
                  .card__details ul {
                    list-style: none;
                    width: 80%;
                    margin: 0 auto;
                    color: #11022C; }
                    .card__details ul li {
                      text-align: center;
                      font-size: 1.5rem;
                      padding: 1rem; }
                      .card__details ul li:not(:last-child) {
                        border-bottom: 1px solid #eee; }
                .card__cta {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 90%;
                  text-align: center; }
                .card__price-box {
                  text-align: center;
                  color: #fff;
                  margin-bottom: 8rem; }
                .card__price-only {
                  font-size: 1.9rem;
                  text-transform: uppercase; }
                .card__price-value {
                  font-size: 3rem;
                  font-weight: 400; }

                  @media (max-width: 56.25em) {
                    .card {
                      border-radius: 3px;
                      height: auto;
                      background-color: #fff;
                      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.15); }
                      .card__side {
                        height: auto;
                        position: relative;
                        box-shadow: none; }
                        .card__side--back {
                          transform: rotateY(0);
                          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
                      .card:hover .card__side--front {
                        transform: rotateY(0); }
                      .card__details {
                        padding: 1rem 3rem; }
                      .card__cta {
                        position: relative;
                        top: 0%;
                        left: 0%;
                        transform: translate(0);
                        width: 100%;
                        padding: 7rem 4rem 4rem 4rem; }
                      .card__price-box {
                        margin-bottom: 3rem; }
                      .card__price-value {
                        font-size: 4rem; } }

                  .section-book {
                    padding: 15rem 0;
                    background-image: linear-gradient(to right, #11022C, #301256); }
                    @media (max-width: 56.25em) {
                      .section-book {
                        padding: 10rem 0; } }
                  
                  .book {
                    background-image: linear-gradient(105deg, #d3d2d4 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), 
                    url(../img/photo-1445527815219-ecbfec67492e.jpg);
                    background-size: 100%;
                    border-radius: 3px;
                    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
                    height: 50rem; }
                  
                    @media (max-width: 75em) {
                      .book {
                        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/photo-1445527815219-ecbfec67492e.jpg);
                        background-size: cover; } }
                    @media (max-width: 56.25em) {
                      .book {
                        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/photo-1445527815219-ecbfec67492e.jpg); } }

                    .book__form {
                      width: 50%;
                      padding: 6rem; }

                      @media (max-width: 75em) {
                        .book__form {
                          width: 65%; } }
                      @media (max-width: 56.25em) {
                        .book__form {
                          width: 100%; } }

                      .form__group:not(:last-child) {
                        margin-bottom: 2rem; }
                      
                      .form__input {
                        font-size: 1.5rem;
                        font-family: inherit;
                        color: inherit;
                        padding: 1.5rem 2rem;
                        border-radius: 2px;
                        background-color: rbga(#fff, 0.5);
                        border: none;
                        border-bottom: 3px solid transparent;
                        width: 90%;
                        display: block;
                        transition: all .3s; }
                        .form__input:focus {
                          outline: none;
                          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
                          border-bottom: 3px solid #55c57a; }
                        .form__input:focus:invalid {
                          border-bottom: 3px solid #ff7730; }
                        .form__input::-webkit-input-placeholder {
                          color: #999; }
                      
                      .form__label {
                        font-size: 1.2rem;
                        font-weight: 700;
                        margin-left: 2rem;
                        margin-top: .7rem;
                        display: block;
                        transition: all .3s; }
                      
                      .form__input:placeholder-shown + .form__label {
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(-4rem); }
                      
                      .form__radio-group {
                        width: 49%;
                        display: inline-block; }
                      
                      .form__radio-input {
                        display: none; }
                      
                      .form__radio-label {
                        font-size: 1.6rem;
                        cursor: pointer;
                        position: relative;
                        padding-left: 4.5rem; }
                      
                      .form__radio-button {
                        height: 3rem;
                        width: 3rem;
                        border: 5px solid #55c57a;
                        border-radius: 50%;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: -.4rem; }
                        .form__radio-button::after {
                          content: "";
                          display: block;
                          height: 1.3rem;
                          width: 1.3rem;
                          border-radius: 50%;
                          position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                          background-color: #55c57a;
                          opacity: 0;
                          transition: opacity .2s; }
                      
                      .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
                        opacity: 1; }
                      .fa-ruble-sign {
                        font-size: 3.2rem;
                      }

                      .para_style {
                        font-size: 1.6rem;
                        padding: 1rem 2rem;
                      }

                      .btn, .btn:link, .btn:visited {
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 1.5rem 4rem;
                        display: inline-block;
                        border-radius: 10rem;
                        transition: all .2s;
                        position: relative;
                        font-size: 1.6rem;
                        border: none;
                        cursor: pointer; }
                      
                      .btn:active {
                        transform: translateY(-1px); }
                      
                      .btn:hover {
                        transform: translateY(-3px);
                        box-shadow: 0 1rem 1rem; }
                        .btn:hover::after {
                          transform: scaleX(1.4) scaleY(1.6);
                          opacity: 0; }
                      
                      .btn--white {
                        background-color: #fff;
                        color: #777; }
                        .btn--white::after {
                          background-color: #fff; }
                      
                      .btn--green {
                        background-color: #55c57a;
                        color: #fff; }
                        .btn--green::after {
                          background-color: #fff; }
                      
                      .btn::after {
                        content: "";
                        display: inline-block;
                        height: 100%;
                        width: 100%;
                        border-radius: 10rem;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        transition: all .4s; }
                      
                      .btn--animated {
                        animation: moveInBottom .5s ease-out .75s;
                        animation-fill-mode: backwards; }
                      
                      .btn-text:link, .btn-text:visited {
                        font-size: 1.6rem;
                        color: #55c57a;
                        display: inline-block;
                        text-decoration: none;
                        border-bottom: 1px solid #55c57a;
                        padding: 3px;
                        transition: all .2s; }
                      
                      .btn-text:hover {
                        background-color: #55c57a;
                        color: #fff;
                        box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.15);
                        transform: translateY(-2px); }
                      
                      .btn-text:active {
                        box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 0.15);
                        transform: translateY(0); }

                        .footer {
                          background-color: #11022C;
                          padding: 10rem 0;
                          background-image: url(../img/medical-pattern-1.png);
                          box-shadow: 0 1rem 2rem #d3d2d4;
                        }

                        @media (max-width: 56.25em) {
                          .footer {
                            width: 100%;
                            text-align: center; } }

                        .footer__navigation {
                          border-top: 1px solid #d3d2d4;
                          padding-top: 2rem;
                          display: inline-block;
                        }

                        .footer__list {
                          list-style: none;
                        }

                        .footer__item {
                          color: #d3d2d4;
                          font-size: 1.3rem;
                        }

                        .footer__link:link,
                        .footer__link:visited {
                          color: #f3f8f2;
                          text-decoration: none;
                          font-size: 1.6rem;
                          text-transform: uppercase;
                          display: inline-block;
                          transition: all .2s;
                        }

                        .footer__copyright {
                          font-size: 1.6rem;
                          color: #f3f8f2;
                        }

                        @media (max-width: 56.25em) {
                          .footer__copyright {
                            width: 100%;
                            float: none; } }

                        .section-stories {
                          position: relative;
                          padding: 15rem 0;
                          background-color: #11022C;
                          padding: 10rem 0;
                          background-image: url(../img/medical-pattern-1.png);
                          box-shadow: 0 1rem 2rem #d3d2d4;
                        }
                        @media (max-width: 56.25em) {
                          .section-stories {
                            padding: 10rem 1.7rem; } }

                        .head-col {
                          color: #d3d2d4;
                        }

                        .story {
                          width: 75%;
                          margin: 0 auto;
                          box-shadow: 0 3rem 6rem rgba(10, 10, 10, 0.1);
                          background-color: rgba(255, 255, 255, 0.6);
                          border-radius: 3px;
                          padding: 6rem;
                          padding-left: 9rem;
                          font-size: 1.6rem;
                          transform: skewX(-12deg);
                      }

                      @media (max-width: 56.25em) {
                        .story {
                          width: 100%;
                          padding: 4rem;
                          padding-left: 7rem; } }

                          @media (max-width: 37.5em) {
                            .story {
                              transform: skewX(0); } }

                      .story__shape {
                        width: 15rem;
                        height: 15rem;
                        background-color: #11022c;
                        float: left;
                        -webkit-shape-outside: circle(50% at 50% 50%);
                        shape-outside: circle(50% at 50% 50%);
                        -webkit-clip-path: circle(50% at 50% 50%);
                        clip-path: circle(50% at 50% 50%);
                        transform: translateX(-3rem) skewX(12deg);
                        position: relative;
                    }

                    @media (max-width: 37.5em) {
                      .story__shape {
                        transform: translateX(-3rem) skewX(0); } }

                    .story__text {
                      transform: skewX(12deg);
                      margin-left: 15rem;
                    }

                    @media (max-width: 37.5em) {
                      .story__text {
                        transform: skewX(0); } }

                    .fabig {
                      color: #d3d2d4;
                      font-size: 12rem;
                      margin-left: 2rem;
                      margin-top: 1.4rem;
                    }

                    .p-col {
                      color: rgb(9, 10, 19);
                      font-size: 1.8rem;
                    }

                    .countdown-txt {
                      font-size: 3rem;
                      font-family: 'Ubuntu';
                      color: #301256;
                      text-transform: uppercase;
                      text-align: center;
                      margin: 2rem auto;
                      padding-top: 12rem;
                      
                    }

                    .clock {
                    
                      padding: 3rem;
                      background-color: #e4deef;
                      margin-bottom: 0.2rem;

                    }

                    .clock__header {
                      font-family: 'Ubuntu';
                      margin: 3rem;
                      text-align: center;
                      font-size: 3rem;
                      color: #999;
                      text-transform: uppercase;
                      font-weight: 400;
                    }

                    .mb-sm {
                      margin-bottom: 2rem;
                    }

                    @media (max-width: 37.5em) {
                      .diagnostic span{
                        font-size: 3rem;
                      }
                    }

                    .block-pic-title {
                      display: block;
                      margin-bottom: 3rem;
                      text-align: center;
                      color: #11022C;
                    }

                    .block-txt-title {
                      text-align: center;
                      font-family: 'Ubuntu';
                      font-size: 2.5rem;
                      font-weight: 700;
                      color: #11022C;
                      margin-bottom: 3rem;
                    }

                    .block-txtmain-title {
                    
                      font-size: 1.5rem;
                      color: #11022c;
                    }

                    .call-back {
                      font-size: 2.2rem;
                      font-weight: 300;
                      color: #301256;
                      font-family: 'Ubuntu', sans-serif;

                    }

                    .heading-secondary-1 {
                      font-size: 2rem;
                      font-family: 'Ubuntu', sans-serif;
                      text-transform: uppercase;
                      font-weight: 700;
                      display: inline-block;
                      background-image: linear-gradient(to right, #11022C, #301256);
                      -webkit-background-clip: text;
                      color: transparent;
                      letter-spacing: .1rem;
                      transition: all .2s;
                  }
                    .diagnostic {
                      color: #301256;
                      text-align: center;
                      font-size: 1.5rem;
                      margin: 0 auto;
                    }

                    .order {
                      display: flex;
                      flex-direction: row;
                    }

                    .container {
                      width: 1200px;
                      height: auto;
                      margin: 0 auto;
                      display: grid;
                      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
                      grid-gap: 10px;
                      padding: 10px;
                      box-sizing: border-box; 
                    }

                    .container .box {
                      position: relative;
                      background: #fff;
                      padding: 20px 40px 40 px;
                      text-align: center;
                      overflow: hidden;
                      border-radius: 20px;
                    }

                    .container .box:nth-child(1) {
                      background: linear-gradient(45deg,#036eb7,#64eaff);
                    }

                    .container .box:nth-child(2) {
                      background: linear-gradient(45deg,#036eb7,#64eaff);
                    }

                    .container .box:nth-child(3) {
                      background: linear-gradient(45deg,#036eb7,#64eaff);
                    }

                    .container .box:nth-child(4) {
                      background: linear-gradient(45deg,#036eb7,#64eaff);
                    }

                    .container .box h2 {
                      position: relative;
                      margin: 0;
                      padding: 0;
                      font-size: 100px;
                      color: #fff;
                      z-index: 1;
                      opacity: 0.4;
                    }

                    .container .box h3 {
                      margin: 0;
                      padding: 0;
                      color: #fff;
                      font-size: 24px;
                      text-transform: uppercase;
                    }
                    
                    .price-header {
                    font-size: 3rem;
                      font-family: 'Ubuntu';
                      color: #301256;
                      text-transform: uppercase;
                      text-align: center;
                      margin: 2rem auto;
                      padding-top: 12rem;
                    }

                    .price-photo {
                      
                      height: 35rem;
                      background-size: cover;
                    }

                    .price-subtxt {
                      font-size: 1.5rem;
                      font-weight: 500;
                      text-transform: uppercase;
                      margin: 1.5rem auto;
                      color: #301256;
                    }

                    .price-list {
                      list-style-type: square;
                    }
                    
                    .price-item {
                      font-size: 1.5rem;
                      font-weight: 400;
                      color: #11022c;
                    }

                    .paragraph-alpha {
                      font-size: 1.6rem;
                      padding: 2rem;
                      font-family: 'Ubuntu';
                      font-weight: 400;
                      color: #11022C;
                    }

                    .section-alpha__pic {
                      width: 100%;
                    }

                    .section-alpha__header {
                      font-size: 1.9rem;
                      color: #11022c;
                      font-family: 'Ubuntu';
                       text-align: center;
                       margin-top: 3rem;

                    }

                    .section-alpha__txt {
                      font-size: 1.5rem;
                      color: #11022c;
                      font-family: 'Ubuntu', sans-serif;
                      margin-bottom: 3rem;;
                    }
 
                    .section-steps {
                      margin-top: 6rem;
                    }

                    .section-steps__txt1 {
                      width: 35%;
                      font-size: 2.5rem;
                      padding: 3rem 8rem;
                      color: #301256;
                      font-weight: 600;
                    }

                    .section-steps__txt2 {
                      font-size: 1.8rem;
                      margin-top: 1.5rem;
                      padding: 3rem 4rem;
                      color: #301256;
                      font-weight: 400;
                      border-radius: 30px;
                      background-color: #f3f1ed;
                    }

                    .section-steps__box {
                      display: flex;
                    }

                    @media (max-width: 56.25em) {
                      .section-steps__box {
                        flex-direction: column;
                      }
                    }

                    .politics {
                      font-size: 1.6rem;
                      padding: 2rem;
                      font-family: 'Ubuntu';
                      font-weight: 400;
                      color: #11022C;
                    }

                    .politics__txt {
                      margin-top: 2rem;
                      margin-bottom: 1rem;
                    }
                    
                    .politics__header {
                      margin-bottom: 2rem;
                    }
                    